<!DOCTYPE html>
<html lang="en">
<head>
	<title>Navi</title>
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" media="screen">
	<!-- bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
	<!-- chart -->
    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script src="{{ url_for('static', filename='js/chart.js') }}"></script>
</head>

<body>

<div class="row-fluid">
	<div class="span4 offset4">
		<div class="main">
			
			<div class="header">
				<h3><span class="navi">Navi</span></h3>
				<p> matches you with safe city services.</p><br>

				<p>Text me anything to start <h4><span class="navi">(415) 534-6272</span></h4></p>
				
			</div>
			<!-- <p>Navi has matched <span class="navi">{{ user_count }}</span> people with <span class="navi">{{ match_count }} services</span>.</p> -->
		</div>
	</div>
	
    <!-- chart -->
    <!--
    <script>
    var data = {{ data }};
	var programs = {{ programs | safe }};
	renderChart(programs, data);
    </script>
     -->
</div>
</body>
</html>