	p { color: grey;
		font-size: 12px;
		display: inline;}

		h3, h4 { display: inline;}
		
		.navi { color: rgb(0,194,255);
				font-weight: bold;}
			
		.chart rect {
			stroke: white;
			fill: rgb(0,194,255);
		}

		.chart {
			font-size: 10px;
			text-align: right;
			padding: 3px;
			margin: 1px;
			color: white;
		}

		.chart text {
			fill: white;
			margin-right: 10px;
		}

		.chart text.name {
			fill: grey;
		}

		.header {
			margin: 150px 0px 150px 0px;
			text-align: center;
		}