.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.cart {
  margin: 5px;
} 
.chart rect {
  stroke: white;
  fill: steelblue;
}
 
.chart text {
  fill: white;
}
 
.chart text.name {
  fill: #000;
}
 
.chart line {
  stroke: #c1c1c1;
}
 
.chart .rule {
  fill: #000;
}

svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}